<div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <div class="row justify-content-center shadow-none bg-light rounded mt-2 pt-4 pb-4">
        <div class="col-1" *ngFor="let m of motivators">
          <mgmt30-mm-source [name]="m.name" (isDragging)="isDragging($event)"></mgmt30-mm-source>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col">
          <p class="text-uppercase text-center font-weight-bold">motivators</p>
        </div>
      </div>

      <div class="row pt-3 pb-3 justify-content-center shadow bg-white rounded">
        
        <div class="col-1" *ngFor="let e of entries">
          <mgmt30-mm-holder></mgmt30-mm-holder>
        </div>
      </div>

      <div class="row pt-3 pb-3 justify-content-center">
        <span>is dragging: {{isDragging$}}</span>
      </div>

    </div>
    <div class="col-1"></div>
  </div>
</div>

